:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --focus-bg-color: #2196f3;
  --active-bg-color: #2196f3;
  --button-focus-bg-color: #2196f3;
  --primary-color: #757575;
  --secondary-color: #212121;
  --focus-color: #2196f3;
  --active-color: #2196f3;
  --button-focus-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.link-res {
  text-decoration: none;
}

.list-res {
  list-style: none;
}

.display-none {
  display: none;
}

.logo {
  color: var(--focus-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.site-nav .link {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--active-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}

.contact-list-header .link-mail,
.contact-list-header .link-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.adress-text,
.contact-list-footer .link-mail,
.contact-list-footer .link-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: var(--focus-color); */
  color: var(--primary-color); /* Temporarily to make text visible without a background*/
}

.contact-list-header .link-mail:hover,
.contact-list-header .link-tel:hover,
.contact-list-footer .link-mail:hover,
.contact-list-footer .link-tel:hover,
.contact-list-header .link-mail:focus,
.contact-list-header .link-tel:focus,
.contact-list-footer .link-mail:focus,
.contact-list-footer .link-tel:focus {
  color: var(--focus-color);
}

.hero .title {
  color: var(--secondary-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title,
.section-subtitle,
.section-text {
  color: var(--secondary-color);
}

/* h2 */
.section.features .section-title,
.section.about .section-title,
.section.team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* h3 */
.section.features .section-subtitle,
.section.about .section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* h3 */
.section.team .section-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* p */
.section.feature .section-text,
.section.about .section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* p */
.section.team .section-text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* h3 */
.section.examples .section-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* p */
.section.examples .section-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.button {
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button:hover,
.button:focus {
  color: var(--button-focus-color);
  background-color: var(--button-focus-bg-color);
}
